postgresql:
  host: localhost
  port: 5432
  dbnames: [osm]
  user: osm
  password:
queries:
  config: ../vector-datasource/queries.yaml
  template-path: ../vector-datasource/queries
  reload-templates: true
store:
  type: directory
  name: tiles
server:
  host: localhost
  port: 8080
  debug: true
  reload: true
