AppDirs==1.4.3
argparse==1.2.1
boto==2.33.0
future==0.15.2
hiredis==0.2.0
Jinja2==2.8
MarkupSafe==0.23
ModestMaps==1.4.6
protobuf==2.6.0
psycopg2==2.5.4
pyclipper==1.0.5
pycountry==1.20
pyproj==1.9.5.1
python-dateutil==2.4.2
PyYAML==3.11
redis==2.10.5
requests==2.10.0
Shapely==1.4.3
six==1.10.0
StreetNames==0.1.5
ujson==1.35
Werkzeug==0.9.6
wsgiref==0.1.2
zope.dottedname==4.1.0
edtf==0.9.3
mapbox-vector-tile==1.2.0
git+https://github.com/mapzen/tilequeue@master#egg=tilequeue
git+https://github.com/tilezen/raw_tiles@master#egg=raw_tiles
